<div class="card" style="max-width: 80rem; min-height: 30rem">
    <h5 class="card-header card--header--title">
        Edit Answer
        <%= link_to 'Back', QuizQuestion.find(session[:quiz_question_id]), class:"btn btn--primary2--header--button"  %>
    </h5>
    <div class="card-body">
        <%= render 'form', quiz_answer: @quiz_answer %>
    </div>
</div>
