<div class="card" style="max-width: 80rem; min-height: 30rem">
  <h5 class="card-header card--header--title">
    <% user = User.find(@essay_solution.student_id) %>
    <%= Essay.find(@essay_solution.essay_id).name %> - <%= user.first_name  + " " + user.last_name %>
    <%= link_to 'Back', assignments_show_path, class:"btn btn--primary2--header--button" %>
  </h5>
  <div class="card-body">
    <%= render 'show_form', essay_solution: @essay_solution %>
  </div>
</div>
