<div class="card" style="max-width: 80rem; min-height: 30rem">
  <h5 class="card-header card--header--title">Add Users</h5>
  <div class="card-body">
    <h5 class="card--title">Add Users To Your School: <b><i><%= current_user.school.name %></i></b></h5>
    <p class="card--text"><br />You can add users to this school <i>manually</i> or you can <i>upload a document</i> with the users you want to add. <br />
      <br />If you want to add the users from document then it must have the <i>.csv</i> extension, and it must contain the following columns: <i>First Name, Last Name, Email Address, Teacher, Student</i>).
    </p>
    
    <%= link_to 'Add Manually', users_adding_add_users_manually_path, class:"btn btn-primary btn--primary" %>
    <%#= link_to 'Add From File', administrator_add_manually_path, class:"btn btn-primary" %>
    <%= form_tag users_adding_import_users_path, method: :get, multipart: true do %>
      <%= submit_tag "Add From File", class:"btn btn-primary btn--primary" %>
    <% end %>
  </div>
</div>