<p id="notice"><%= notice %></p>

<div class="card" style="max-width: 80rem; min-height: 30rem">
  <% if current_user.administrator == true %>
    <%= render 'administrator_show' %>
  <% elsif current_user.teacher == true %>
    <%= render 'administrator_show' %>
  <% elsif current_user.student == true %>
    <%= render 'student_show' %>
  <% end %>     
</div>


